<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.iflab.ibistubydreamfactory"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">
        <meta-data
            android:name="sessionToken"
            android:value="session_token"/>
        <meta-data
            android:name="instanceUrl"
            android:value="http://45.32.11.169/api/v2/"/>
        <meta-data
            android:name="apiKey"
            android:value="3528bd808dde403b83b456e986ce1632d513f7a06c19f5a582058be87be0d8c2"/>

        <activity android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".YellowPageActivity"
            android:label="黄页">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.iflab.ibistubydreamfactory.HomeActivity"/>
        </activity>
        <activity android:name=".YellowPageDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.iflab.ibistubydreamfactory.YellowPageActivity"/>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="关于">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.iflab.ibistubydreamfactory.HomeActivity"/>
        </activity>
        <activity android:name=".AboutDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.iflab.ibistubydreamfactory.AboutActivity"/>
        </activity>
        <activity android:name=".BusActivity">
        </activity>
        <activity android:name=".BusLineActivity">
        </activity>
    </application>

</manifest>