<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.iflab.ibistubydreamfactory"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="smsUrl"
            android:value="https://api.netease.im/sms/"/>
        <meta-data
            android:name="AppSecret"
            android:value="ffc246976de9"/>
        <meta-data
            android:name="AppKey"
            android:value="2b6894069187f6d2b43994d0633e7947"/>
        <meta-data
            android:name="instanceUrl"
            android:value="http://104.155.211.143/api/v2/"/>
        <meta-data
            android:name="apiKey"
            android:value="3528bd808dde403b83b456e986ce1632d513f7a06c19f5a582058be87be0d8c2"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6d7d40437914484588812f774f470959">
        </meta-data>

        <service android:name="com.amap.api.location.APSService"/>
        <receiver android:name=".utils.CompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.YellowPageActivity"
            android:label="黄页">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>
        <activity android:name=".activities.YellowPageDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.YellowPageActivity"/>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="关于">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>
        <activity android:name=".activities.AboutDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AboutActivity"/>
        </activity>
        <activity
            android:name=".activities.BusActivity"
            android:label="校车">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>
        <activity android:name=".activities.BusLineActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.BusActivity"/>
        </activity>
        <activity
            android:name=".activities.MapActivity"
            android:label="地图">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserCenterActivity"
            android:label="个人中心"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="注册"
            android:theme="@style/CustomNoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            >
        </activity>
    </application>

</manifest>