<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.iflab.ibistubydreamfactory"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <meta-data
            android:name="smsUrl"
            android:value="https://api.netease.im/sms/"/>
        <meta-data
            android:name="AppSecret"
            android:value="ffc246976de9"/>
        <meta-data
            android:name="AppKey"
            android:value="2b6894069187f6d2b43994d0633e7947"/>
        <meta-data
            android:name="instanceUrl"
            android:value="http://104.155.211.143/api/v2/"/>
        <meta-data
            android:name="apiKey"
            android:value="3528bd808dde403b83b456e986ce1632d513f7a06c19f5a582058be87be0d8c2"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6d7d40437914484588812f774f470959">
        </meta-data>

        <service android:name="com.amap.api.location.APSService"/>

        <receiver android:name=".utils.CompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.YellowPageActivity"
            android:label="@string/label_activity_yellow_page"
            android:parentActivityName=".activities.HomeActivity">
        </activity>
        <activity
            android:name=".activities.YellowPageDetailsActivity"
            android:label="@string/label_activity_yellow_page_details"
            android:parentActivityName=".activities.YellowPageActivity">
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/label_activity_home"
            android:theme="@style/MyAppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/label_activity_about"
            android:parentActivityName=".activities.HomeActivity">
        </activity>
        <activity
            android:name=".activities.AboutDetailsActivity"
            android:label="@string/label_activity_about_detail"
            android:parentActivityName=".activities.AboutActivity">
        </activity>
        <activity
            android:name=".activities.BusActivity"
            android:label="@string/label_activity_school_bus"
            android:parentActivityName=".activities.HomeActivity">
        </activity>
        <activity
            android:name=".activities.BusLineActivity"
            android:label="@string/label_activity_bus_detail"
            android:parentActivityName=".activities.BusActivity">
        </activity>
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/label_activity_map"
            android:parentActivityName=".activities.HomeActivity">
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/MyAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserCenterActivity"
            android:label="@string/label_activity_user_center"
            android:parentActivityName=".activities.HomeActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/label_activity_register"
            android:theme="@style/MyAppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
        <activity
            android:name=".activities.PlayerActivity"
            android:label="@string/label_activity_vr_player"
            android:parentActivityName=".activities.HomeActivity">
        </activity>

        <activity
            android:name=".activities.NewsActivity"
            android:label="@string/label_activity_news"
            android:parentActivityName=".activities.HomeActivity">
        </activity>
        <activity
            android:name=".activities.NewsDetailActivity"
            android:label="@string/label_activity_news_detail"
            android:parentActivityName=".activities.NewsActivity">
        </activity>
        <activity
            android:name=".activities.LostFoundActivity"
            android:label="@string/label_activity_lost_found"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/MyAppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.PostedLostFoundActivity"
            android:label="@string/label_activity_posted_lost_found"
            android:parentActivityName=".activities.LostFoundActivity">
        </activity>
        <activity
            android:name=".activities.LostFoundDetailActivity"
            android:label="招领详情"
            android:parentActivityName=".activities.LostFoundActivity">
        </activity>

        <activity
            android:name=".activities.NormalPlayerActivity"
            android:configChanges="screenSize|orientation"
            android:label="MDMultiDemoActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activities.VRVideoPlayerActivity"
            android:configChanges="screenSize|orientation"
            android:label="MDMultiDemoActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activities.VRImagePlayerActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/label_activity_vr_image_player"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>